body {
    background-color: #FFFCFC;
    margin: 0;
    overflow-x: hidden;
}

/* navigation bar */
.navbar {
    background-color: #FFFCFC;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.navItem1 {
    flex-grow: 1;
    text-align:left;
}

.navItem2 {
    flex-grow: 1;
    text-align: left;
}

.navItem2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navItem2 li {
  display: inline;
  padding: 15px 30px 15px 30px;
}

.navItem2 li:hover {
border-bottom: 3px solid #29426B
}

.navItem3 {
    flex-grow: 7;
}

.navItem3 li {
  display: inline;
  vertical-align: middle;
}

/* search bar*/
  .navItem3 ul {
    float: right;
    width: 30%;
    height: 35px;
    margin: 40px;
    border: none;
    border-radius: 20px;
    color: #29426B;
    list-style-type: none;
    background-color: #F5EDED;
  }

  #navbarSearchIcon {
    margin-top: 5px;
  }

  .navItem3 input {
    border: none;
    width: 60%;
    margin: 5px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    background-color: #F5EDED;
  }

  .navbarLine {
    margin: 0;
    background-color: #F5EDED;
    height: 4px;
    border: none;
  }





/*footer*/

.footer {
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  grid-template-rows: 3fr 1fr 3fr 2fr;
  background-color: #29426B;
  align-items: center;
  padding-top: 20px;
}

.footer h1 {
  color: #F5EDED;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: inline;
  justify-self: center;
  font-size: 250%;
}

#footerLine1 {
  background-color: #F5EDED;
  height: 3px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 15px 50px 15px 30px;
  padding: 0;
  border: 0;
  align-self: baseline;
}

#footerLine2 {
  background-color: #F5EDED;
  height: 3px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 15px 30px 15px 50px;
  padding: 0;
  border: 0;
  align-self: baseline;
}

.socialMediaIcons {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.socialMediaIcons ul {
  list-style: none;
  width: 100%;
  padding: 0;
  text-align: center;
}

.socialMediaIcons li {
  display: inline;
  padding: 20px;
}

.footer p {
   grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  text-align: center;
  color: #CAD3DE;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}





/* Homepage */
 /* Title */

  .hero {
    height: 700px;
    width: 100%;
    background-color: #F5EDED;
    text-align: center;
  }

  .hero img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    width: 20%;
  }

  .hero a {
    background-color: #CAD3DE;
    color: #29426B;
    border: none;
    border-radius: 20px;
    padding: 8px 30px;
    margin: 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
  }

  .hero a:hover {
    background-color: #CAD3DE;
    color: white;
  }
  
  hr {
    background-color: #657FA4;
    height: 3px;
  }


  /* quotes carousel */
  #quotes {
    height: 600px;
    width: 100%;
    background-color: #F5EDED;
    margin-top: 60px;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
  }

  #carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
  }

  .carouselItem {
    background-color: #657FA4;
    text-align: center;
    align-content: center;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    width: 800px;
    height: 350px;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-1000px * var(--r)));
    opacity: calc(-1 * var(--abs) + 1.5);
    z-index: calc((var(--position) - var(--abs)));
  }

  .carouselItem:nth-of-type(1) {
    --offset: 1;
  }
  .carouselItem:nth-of-type(2) {
    --offset: 2;
  }
  .carouselItem:nth-of-type(3) {
    --offset: 3;
  }
  .carouselItem:nth-of-type(4) {
    --offset: 4;
  }
  .carouselItem:nth-of-type(5) {
    --offset: 5;
  }
  
  #quotes input:nth-of-type(1) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #quotes input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
  }

  #quotes input:nth-of-type(2) {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  #quotes input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }

  #quotes input:nth-of-type(3) {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  #quotes input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }

  #quotes input:nth-of-type(4) {
    grid-column: 5/6;
    grid-row: 2/3;
  }
  #quotes input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
  }

  #quotes input:nth-of-type(5) {
    grid-column: 6/7;
    grid-row: 2/3;
  }
  #quotes input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
  }

  input[type="radio"] {
    accent-color: #29426B;
    width: 1.75em;
    height: 1.75em;
  }

  input[type="radio"]::before {
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #29426B;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}


   .quoteWriting {
    color: #FFFCFC;
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
  }

  .author {
    color: #FFFCFC;
    font-size: 40px;
    text-align: right;
    margin: 20px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
  }

/* Main body of the homepage - has goals, streak and introduction */
  .homepageBody {
    display: grid;
    margin: 40px;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
  }


  .myGoalsItem {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #F5EDED;
    height: 400px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 2fr 3fr 6fr;
    grid-template-rows: 1fr 1fr 10fr;
    gap: 10px;
    padding: 40px;
  }


  .myGoalsItem img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
    align-self: center;
  }


  .myGoalsItem h2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    color: #29426B;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 200%;
    margin: 0%;
  }


  .myGoalsItem h3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    color: #29426B;
    font-family: "Noto Sans", sans-serif;
    font-size: 120%;
    font-weight: 450;
    margin: 0%;
  }


  .dailyWordCount {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    padding-top: 20px;
  }


  .monthlyWordCount {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    padding-top: 20px;
  }


  .writingStreakItem {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #F5EDED;
    border-radius: 20px;
  }


  .informationItem {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: #CAD3DE;
    border-radius: 20px;
  }

  #informationItemTitle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 0 40px;
  }

  #informationItemTitle h1 {
    color: #ffffff;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 300%;
    display: inline;
    flex-grow: 7;
  }

  #informationItemTitle img {
    flex-grow: 1;
    margin-right: 30px;
  }

  .informationItem p {
    margin: 0 40px 40px 40px;
    font-family: "Noto Sans", sans-serif;
    font-size: 160%;
    color: #ffffff;
  }











/*Acacia Garden*/
.MainTitle {
  background-color: #CAD3DE;
  padding: 5px;
}

.MainTitle h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  color: #29426B;
  text-align: center;
}

.gardenBody {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 80px;
  margin: 5% 17%;
}

.preview {
  background-color: #F5EDED;
  border-radius: 3px;

}

.previewTitleDiv {
  width: 85%;
  display: block;
  border-radius: 15px;
  background-color: #FFFCFC;
  align-content: center;
  text-align: center;
  margin: 30px auto 20px auto;
}

#previewTitleOutput {
  margin: 20px;
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  font-size: 140%;
  color: #1f1f20;
}

.previewBodyDiv {
  width: 85%;
  height: 300px;
  display: block;
  border-radius: 15px;
  background-color: #FFFCFC;
  align-content: center;
  text-align: center;
  margin: auto;
}

#previewBodyOutput {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 130%;
  color: gray;
  margin: 20px;
}

.previewLikesGrid {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1fr 2fr 9fr 2fr 1fr;
  align-items: center;
  margin: 10px 25px;
}

#likeButton {
  background-color: #F5EDED;
  border: none;
  padding: 0;
  display: inline-block;
  grid-column-start: 1;
  grid-column-end: 2;
}

#likeCount {
  padding: 0;
  display: inline-block;
  align-self: center;
  justify-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  font-size: 25px;
  color: #F5A7A4;
}

#branchesButton {
  background-color: #F5EDED;
  border: none;
  padding: 0;
  display: inline-block;
  grid-column-start: 4;
  grid-column-end: 5;
}

#branchesCount {
  padding: 0;
  display: inline-block;
  align-self: center;
  justify-self: right;
  grid-column-start: 5;
  grid-column-end: 6;
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  font-size: 25px;
  color: #29426B;
}





/*editor*/

.editorBody {
  justify-self: center;
  width: 70%;
  height: 70%;
  border-style: solid;
  border-width: 2px;
  border-color: #CAD3DE;
  border-radius: 20px;
  background-color: #FFFFFF;
  padding: 20px;
}

#storyTitle {
  border: none;
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}

#storyTitle:focus {
  border: 1px solid #CAD3DE;
}

#selectFontSize {
  border: 1px solid #CAD3DE;
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  color: #6b6b6b;
}

.optionButton {
  border: 1px solid #CAD3DE;
  font-size: 20px;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  color: #6b6b6b;
  background-color: #FFFFFF;
}

#editorLine {
  background-color: #CAD3DE;
  height: 2px;
  border: none;
}

  #text-area {
  width: 98.5%;
  height: 500px;
  padding: 10px;
  font-size: 16px;
  border: none;
  }

  #word-count {
  margin-top: 10px;
  }



