body {
    background-color: #FFFCFC;
    margin: 0;
}

/* navigation bar */
nav {
    background-color: #FFFCFC;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.navItem1 {
    flex-grow: 1;
    text-align: center;
}

.navItem2 {
    flex-grow: 1;
    text-align: center;
}

.navItem2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navItem2 li {
  display: inline;
  padding: 30px;

}

.navItem3 {
    flex-grow: 7;
}

.navItem3 li {
  display: inline;
  vertical-align: middle;
}

/* search bar*/
  .navItem3 ul {
    float: right;
    width: 40%;
    height: 35px;
    margin: 40px;
    border: none;
    border-radius: 20px;
    color: #29426B;
    list-style-type: none;
    background-color: #F5EDED;
  }

  #navbarSearchIcon {
    margin-top: 5px;
  }

  .navItem3 input {
    border: none;
    width: 70%;
    margin: 5px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    background-color: #F5EDED;
  }

 /* Title */

  .hero {
    height: 600px;
    width: 100%;
    background-color: #F5EDED;
  }

  hr {
    background-color: #657FA4;
    height: 2px;
  }

  #quotes {
    height: 600px;
    width: 100%;
    background-color: #F5EDED;
    margin-top: 60px;
  }
